/*
    Colors for the mine sweeper
    1: 0000FF
    2: 0B7713
    3: FC0707
    4: 0F104C
    5: 491702
    6: EE145B
    7: FFF200
    8: 555555

    cell: 
        gray1: E2E2E2
        gray2: CCCCCC
        gray3: B7B7B7
        gray4: 707070
*/

body {
    margin: 0;
    background-color: #2c2c2c;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    font-family: 'Bellota Text', cursive;
}

#info-header {
    display: flex;
    justify-content: center;
}

#info {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 200px;
    height: 25px;
    margin: 0 30px;
}

#flex-container {
    
    display: flex;
    justify-content: center;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#board {
    margin: 10px 0 0 10px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-gap: 4px;
    grid-auto-rows: 40px;
    background-color: #2c2c2c;
    padding: 4px;
}

.item {
    background-color: #E2E2E2;
    text-align: center;
    color: white;
    line-height: 40px;
    user-select: none;
}

.item:hover {
    background-color: rgb(151, 156, 202);
    transition: all 0.5s;
}

#a {
    color: black;
    font-weight: 700;
}
#b {
    color: red;
    font-weight: 700;
}

.number1 {
    color: #0000FF;
    font-weight: 700;
}
.number2 {
    color: #0B7713;
    font-weight: 700;
}
.number3 {
    color: #FC0707;
    font-weight: 700;
}
.number4 {
    color: #0F104C;
    font-weight: 700;
}
.number5 {
    color: #491702;
    font-weight: 700;
}
.number6 {
    color: #EE145B;
    font-weight: 700;
}
.number7 {
    color: #FFF200;
    font-weight: 700;
}
.number8 {
    color: #555555;
    font-weight: 700;
}